<!--ユーザアイコン-->
<div class="text-center mt-5 pt-5">
 <i class="fa-solid fa-circle-user"></i>
 <h1><%= @user.name %></h1> 
</div>

<!--自分の投稿画像-->
<h2>My snaps</h2>

<!--お気に入り登録した画像-->
<h2>Favorite snaps</h2>