<div class="row m-2">
  
  <% snaps.reverse_each do |snap| %>
    <ul class="col-sm-4 p-2">
      <li class=" bg-dark list-unstyled column-img posted" style="height: 100%;">
        <%= link_to image_tag(snap.image.url), snap_path(snap) %><p class="p-2"><a href="<%= user_path(snap.user) %>"><i class="fa-solid fa-circle-user"></i> <%= snap.user.name %></a><span> / Favorite: <i class="fa-solid fa-star"> <%= counts(snap) %></i></span></p>
      </li>
    </ul>
  <% end %>
  
  <% if snaps.count == 0 %>
    <h3>No snap</h3>
  <% end %>
</div>
  
  