<div class="about-image light-image-filter"></div>

<div>
  <h1 class="text-center mt-3 bg-primary box-left">-- About --</h1>
</div

<div>
  <h1 class="text-center mt-3 bg-primary box-right">-- How to --</h1>
</div>
