<div class="d-flex">
  
  <div class="two-thirds-view bg-dark">
    <li class="list-unstyled image"><%= image_tag(@snap.image.url) %></li>
  </div>
  
  <div class="one-third-view">
    <div><%= @snap.user.name %></div>
    <div><%= @snap.description %></div>
  </div>
  
</div>