/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#user-show-icon {
  font-size: 10vw;
}

.half-view {
  width: 50vw;
  height: 100vh;
}

.two-thirds-view {
  width: 66.5vw;
  height: 100vh;
}

.one-third-view {
  width: 33.5vw;
  height: 100vh
}

.form {
  margin-top: 20vh;
}

.snap-form {
  margin: 15vh auto 5vh;
  width: 70vw;
}

.edit-snap-form {
  margin: 15vh auto 5vh;
  width: 33vw;
}

.input {
  height: 10vh;
  width: 40vw;
  margin: 2vh auto;
}

.snap-input {
  height: 10vh;
  margin: 3vh;
}

#snap-input {
  width: 100%;
}

.input-border {
  border: 0.5vw solid;
  border-radius: 2vw;
  margin-bottom: 5vh;
}

.show-border {
  border: 0.1vw solid;
  border-radius: 0.3vw;
  padding: 2%;
}

label[for="snap_category"] {
    display: block;
}

select[name="snap[category_id]"] {
  height: 5vh;
  width: 100%;
}

.alert {
  width: 40vw;
  padding: 0;
  margin: 2.5vw auto;
}

.image img {
  width: 100%;
  height: 100%;
}

.snap {
  width: 30vw;
  margin: 0;
}

.link-border {
  text-decoration: none;
}